# ----------------------
# Build outputs
# ----------------------
**/target/
**/build/

# ----------------------
# IDE / Editor
# ----------------------
.idea/
**/.idea/
*.iml

.vscode/

# Eclipse
.project
.classpath
.settings/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Archives
# ----------------------
*.zip

# ----------------------
# Env
# ----------------------
.env
*.env
application-local.properties

# ----------------------
# Temp
# ----------------------
*.tmp
*.swp